{
  "endOfLine": "lf",
  "printWidth": 80,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "all",
  "semi": true,
  "singleAttributePerLine": true,
  "arrowParens": "avoid",
  "importOrder": [
    "<THIRD_PARTY_MODULES>",
    "",
    "^@/env(.*)$",
    "^@/interfaces(.*)$",
    "^@/config/(.*)$",
    "^@/database/(.*)$",
    "^@/dtos/(.*)$",
    "^@/exceptions/(.*)$",
    "^@/utils/(.*)$",
    "^@/entities/(.*)$",
    "^@/repositories/(.*)$",
    "^@/services/(.*)$",
    "^@/controllers/(.*)$",
    "^@/routes/(.*)$",
    "^@/middlewares/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderSeparation": false,
  "importOrderSortSpecifiers": true,
  "importOrderParserPlugins": ["typescript", "decorators-legacy"],
  "importOrderBuiltinModulesToTop": true,
  "importOrderMergeDuplicateImports": true,
  "importOrderCombineTypeAndValueImports": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
